<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Home</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>

	<ion-card>
		<ion-card-content>
			<ion-card-title>
				QR Code
			</ion-card-title>
			<p>
				Você pode gerar ou ler QR Code. Quando você gera um QR, você associa este a um conjunto de regras. Ao ler um QR, você ativa o conjunto de regras associado a ele.
			</p>

			<ion-grid>
				<ion-row>
					<ion-col col-6>
						<button ion-button block icon-left (click)="createQrCode()">
							<ion-icon name="add" item-start></ion-icon>
							Gerar QR Code
						</button>
					</ion-col>
					<ion-col col-6>
						<button ion-button block icon-left color="secondary">
							<ion-icon name="qr-scanner" item-start></ion-icon>
							Ler QR Code
						</button>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card-content>
	</ion-card>


	<ion-list *ngIf="ruleSets.length">
		<ion-list-header>
			Meus conjuntos de regras
		</ion-list-header>
		<button menuClose ion-item *ngFor="let r of ruleSets" (click)="open(r)">
			{{r.name}}
		</button>
	</ion-list>

</ion-content>