<ion-header>
	<ion-toolbar>
		<ion-title>
			Criar QR code
		</ion-title>
		<ion-buttons start>
			<button ion-button (click)="dismiss()">
				<span ion-text color="primary" showWhen="ios">Cancelar</span>
				<ion-icon name="md-close" showWhen="android,windows"></ion-icon>
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content padding>

	<form #form="ngForm" (ngSubmit)="save()">
		<ion-list>
			<ion-item>
				<ion-label floating>Código</ion-label>
				<ion-input type="text" name="code" ngModel></ion-input>
			</ion-item>

		</ion-list>

		<button type="submit" block ion-button>Salvar</button>
	</form>

</ion-content>